#Si el archivo con el que trabajare existe cargue el archivo con su contenido
#si no existe lo redireccionamos al index

<IfModule mod_rewrite.c>
Options -Multiviews
RewriteEngine On
#RewriteBase /pasteleria/public
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>